.gradle/
.idea/
build/
local-movie-app/local-movie-app.iml
local-movie-authentication-keycloak/local-movie-authentication-keycloak.iml
local-movie-client/local-movie-client.iml
local-movie-info-provider/local-movie-info-provider.iml
local.properties
localmovies-android.iml
