.gradle/
.idea/
build/
local-media-app/local-media-app.iml
local-media-authentication-keycloak/local-media-authentication-keycloak.iml
local-media-client/local-media-client.iml
local-media-info-provider/local-media-info-provider.iml
local.properties
localmovies-android.iml
